@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Playfair+Display:wght@800&display=swap');

:root {
    --default-font: 'Lato', sans-serif;
    --name-font: 'Playfair Display', serif;

    --default-color: linear-gradient(to right, #9378AD, #E1C088);
    --member-color: linear-gradient(to right, #9378AD, #E1C088);
    --moderator-color: linear-gradient(to right, #6A7CB4, #DDB281);
    --owner-color: linear-gradient(to right, #453F49, #BE94C4);

    --member-shadow-color: #6B547C;
    --moderator-shadow-color: #4A639E;
    --owner-shadow-color: #342C47;
    --default-shadow-color: #6B547C;

    --avatar-size: 36px;
    --chat-name-font: var(--name-font);
    --chat-name-size: 16px;
    --chat-name-weight: 800;
    --chat-name-letter-spacing: 1px;
    --chat-name-background-color: #D1C7BF;
    --chat-name-background-color-moderator: #543475;
    --chat-name-background-color-member: #8569B2;
    --chat-name-background-color-owner: #973340;
    --chat-name-default-color: rgb(30, 30, 30);
    --chat-name-member-color: white;
    --chat-name-moderator-color: white;
    --chat-name-owner-color: white;

    --chat-message-font: var(--default-font);
    --chat-message-size: 18px;
    --chat-message-weight: 700;
    --chat-message-letter-spacing: 0px;
    --chat-message-color: #505050;
    --chat-message-owner-color: #505050;
    --chat-message-outline-color: #F1F2F2;
    --chat-message-background-default-color: var(--default-color);
    --chat-message-background-member-color: var(--member-color);
    --chat-message-background-moderator-color: var(--moderator-color);
    --chat-message-background-owner-color: var(--owner-color);
}

/* Background colors*/
body {
    overflow: hidden;
    /*     background-color: transparent; */
    /*     background-color: #9EF4FF; */
    font-family: var(--default-font);
    font-weight: 600 !important;
}

/* Transparent background. */
yt-live-chat-renderer {
    background-color: transparent !important;
    width: 100vw;
}

yt-live-chat-text-message-renderer {
    width: fit-content;
    margin-bottom: 20px !important;
}

yt-live-chat-text-message-renderer,
yt-live-chat-text-message-renderer[is-highlighted] {
    background-color: transparent !important;
}

yt-live-chat-text-message-renderer[author-type="owner"],
yt-live-chat-text-message-renderer[author-type="owner"][is-highlighted] {
    background-color: transparent !important;
}

yt-live-chat-text-message-renderer[author-type="moderator"],
yt-live-chat-text-message-renderer[author-type="moderator"][is-highlighted] {
    background-color: transparent !important;
}

yt-live-chat-text-message-renderer[author-type="member"],
yt-live-chat-text-message-renderer[author-type="member"][is-highlighted] {
    background-color: transparent !important;
}


@keyframes show-author {
    0% {
        transform-origin: left bottom;
        transform: scale(0);
    }

    100% {
        transform-origin: left bottom;
        transform: scale(1);
    }
}

yt-live-chat-text-message-renderer yt-live-chat-author-chip {
    margin-left: 40px;
    position: relative;
    z-index: 20;
    background: var(--chat-name-background-color);
    padding: 5px 25px;
    border-radius: 5px;
    min-width: 145px;
    margin-bottom: -15px;
    animation: show-author 0.3s cubic-bezier(0.045, 0.125, 0.355, 1.000);
}

yt-live-chat-text-message-renderer[author-type="moderator"] yt-live-chat-author-chip {
    background: var(--chat-name-background-color-moderator) !important;
}

yt-live-chat-text-message-renderer[author-type="member"] yt-live-chat-author-chip {
    background: var(--chat-name-background-color-member) !important;
}

yt-live-chat-text-message-renderer[author-type="owner"] yt-live-chat-author-chip {
    background: var(--chat-name-background-color-owner) !important;
}


.yt-live-chat-author-badge-renderer {
    fill: var(--chat-name-moderator-color) !important;
}

@keyframes show-content {
    0% {
        transform-origin: left top;
        transform: scale(0);
    }

    100% {
        transform-origin: left top;
        transform: scale(1);
    }
}

yt-live-chat-text-message-renderer[author-type="owner"] #message,
yt-live-chat-text-message-renderer[author-type="owner"][is-highlighted] #message {
    color: var(--chat-message-owner-color) !important;
}

yt-live-chat-text-message-renderer[author-type="owner"],
yt-live-chat-text-message-renderer[is-highlighted][author-type="owner"] {
    display: flex !important;
}



yt-live-chat-text-message-renderer #message {
    width: 400px;
    /* min-height: 46px; */
    z-index: 10;
    /* overflow: visible !important; */
    position: relative;
    background: transparent;
    padding: 22px 30px;
    transform: scale(0);
    background-color: #E2D9D0;
    background-clip: padding-box, border-box;
    background-origin: border-box;
    border-radius: 10px;
    animation: show-content 0.3s cubic-bezier(0.045, 0.125, 0.355, 1.000);
    animation-fill-mode: forwards;
}


yt-live-chat-text-message-renderer yt-live-chat-author-chip::before{
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 9px;
    background-repeat: no-repeat;
    left: 10px;
}

yt-live-chat-text-message-renderer[author-type="owner"] yt-live-chat-author-chip::before {
    background-image: url("https://raw.githubusercontent.com/Senpaku/dapa/refs/heads/main/Asset%2014.png");
}

yt-live-chat-text-message-renderer[author-type="member"] yt-live-chat-author-chip::before {
    background-image: url("https://raw.githubusercontent.com/Senpaku/dapa/refs/heads/main/Asset%2014.png");
}

yt-live-chat-text-message-renderer[author-type="moderator"] yt-live-chat-author-chip::before {
    left: 8px;
    top: 6px;
    background-image: url("https://raw.githubusercontent.com/Senpaku/dapa/refs/heads/main/Asset%2013.png");
}


yt-live-chat-text-message-renderer #message::before {
    content: "";
    /* background-image: url("https://raw.githubusercontent.com/Senpaku/narayukimi/main/Asset_7.png"); */
    width: 60px;
    height: 63px;
    position: absolute;
    bottom: -0.441px;
    background-repeat: round;
    right: -22px;
}

@keyframes translate-opacity-background {
    0% {
        opacity: 1;
        background-position-x: 0px;
    }

    18% {
        opacity: 0.2;
    }

    33% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }

    66% {
        opacity: 1;
    }

    82% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
        background-position-x: 600px;
    }
}



yt-live-chat-text-message-renderer #content,
yt-live-chat-legacy-paid-message-renderer #content {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start;
    overflow: hidden !important;
    margin-top: 20px;
    margin-right: 100px;
    margin-left: 5px;
    font-size: 0;
}

yt-live-chat-text-message-renderer #message::after {
    content: "";
    background-image: url("https://raw.githubusercontent.com/Senpaku/dapa/refs/heads/main/Asset%209.png");
    position: absolute;
    width: 120px;
    z-index: 99;
    height: 180px;
    background-repeat: no-repeat;
    top: -50px;
    left: 340px;
    /* animation: float 9s ease-in-out infinite; */

}

yt-live-chat-text-message-renderer[author-type="owner"] #message::after {
    background-image: url("https://github.com/Senpaku/dapa/blob/main/Asset%208.png?raw=true") !important;
    top: -80px;
}

yt-live-chat-text-message-renderer[author-type="member"] #message::after {
    background-image: url("https://github.com/Senpaku/dapa/blob/main/Asset%206.png?raw=true") !important;
    top: -80px;
}

yt-live-chat-text-message-renderer[author-type="moderator"] #message::after {
    background-image: url("https://github.com/Senpaku/dapa/blob/main/Asset%207.png?raw=true") !important;
    top: -80px;
}

/* Hide scrollbar. */
yt-live-chat-item-list-renderer #items {
    /* overflow: hidden !important; */
}

yt-live-chat-item-list-renderer #item-scroller {
    /* overflow: hidden !important; */
}

tp-yt-paper-tooltip {
    visibility: hidden !important;
}

/* Hide header and input. */
yt-live-chat-header-renderer,
yt-live-chat-message-input-renderer {
    display: none !important;
}

/* Reduce side padding. */
yt-live-chat-text-message-renderer,
yt-live-chat-legacy-paid-message-renderer {
    padding-right: 4px !important;
    margin-bottom: 0px !important;
}

/* Avatars. */
yt-live-chat-text-message-renderer #author-photo {
    display: none !important;
}

/* Hide badges. */
yt-live-chat-text-message-renderer #author-badges {
    display: none !important;
    vertical-align: text-top !important;
}

/* Timestamps. */
yt-live-chat-text-message-renderer #timestamp {
    font-family: var(--default-font);
    font-size: 16px !important;
    line-height: 16px !important;
    color: #999999 !important;
}

/* Channel names. */
yt-live-chat-text-message-renderer #author-name {
    background-color: transparent !important;
    font-size: var(--chat-name-size) !important;
    font-family: var(--chat-name-font), serif !important;
    font-weight: var(--chat-name-weight) !important;
    letter-spacing: var(--chat-name-letter-spacing) !important;
    line-height: calc(var(--chat-name-size) + 2px) !important;
    word-wrap: break-word !important;
    word-break: break-all !important;
    color: var(--chat-name-default-color) !important;
}

yt-live-chat-text-message-renderer[author-type="owner"] #author-name {
    color: var(--chat-name-owner-color) !important;
}

yt-live-chat-text-message-renderer[author-type="moderator"] #author-name {
    color: var(--chat-name-moderator-color) !important;
}

yt-live-chat-text-message-renderer[author-type="member"] #author-name {
    color: var(--chat-name-member-color) !important;
}

/* Messages. */
yt-live-chat-text-message-renderer #message,
yt-live-chat-text-message-renderer #message * {
    margin-bottom: 15px;
    font-family: var(--chat-message-font) !important;
    font-size: var(--chat-message-size) !important;
    font-weight: var(--chat-message-weight) !important;
    letter-spacing: var(--chat-message-letter-spacing) !important;
    line-height: calc(var(--chat-message-size) + 6px) !important;
    color: var(--chat-message-color) !important;
}

/* SuperChat/Fan Funding Messages. */
yt-live-chat-paid-message-renderer #author-name,
yt-live-chat-paid-message-renderer #author-name *,
yt-live-chat-legacy-paid-message-renderer #event-text,
yt-live-chat-legacy-paid-message-renderer #event-text * {
    font-size: 20px !important;
    font-family: var(--chat-superchat-font) !important;
    line-height: 20px !important;
    color: #ffffff !important;
}

#card.yt-live-chat-paid-message-renderer::after {
    content: '';
    z-index: 3;
    position: absolute;
    align-self: center;
    top: 40%;
    width: 15px;
    left: 4px;
    height: 17px;
    margin: 0 auto;
    aspect-ratio: 1.155;
    animation: wiggle 1s ease;
    transform-origin: top center;
    background-image: url("https://raw.githubusercontent.com/Senpaku/narayukimi/main/Superchat_Narayukimi/Asset_3.png");
    background-repeat: no-repeat;
}

#card.yt-live-chat-paid-message-renderer::before {
    content: '';
    z-index: 3;
    position: absolute;
    align-self: center;
    top: 40%;
    width: 15px;
    right: -2px;
    height: 17px;
    margin: 0 auto;
    aspect-ratio: 1.155;
    animation: wiggle 1s ease;
    transform-origin: top center;
    background-image: url("https://raw.githubusercontent.com/Senpaku/narayukimi/main/Superchat_Narayukimi/Asset_3.png");
    background-repeat: no-repeat;
}

#header.yt-live-chat-paid-message-renderer::after{
    content: '';
    z-index: 3;
    position: absolute;
    align-self: center;
    top: 6%;
    width: 57px;
    right: 12px;
    height: 17px;
    margin: 0 auto;
    aspect-ratio: 1.155;
    animation: wiggle 1s ease;
    transform-origin: top center;
    background-image: url("https://raw.githubusercontent.com/Senpaku/narayukimi/main/Superchat_Narayukimi/Asset_3%20(1).png");
    background-repeat: no-repeat;
}

#content.yt-live-chat-paid-message-renderer{
    background-color: transparent !important;
    color: white !important;
}

#header.yt-live-chat-paid-message-renderer::before{
    content: '';
    z-index: 3;
    position: absolute;
    align-self: center;
    top: 10%;
    width: 57px;
    left: 12px;
    height: 5px;
    transform: scale(-1, -1);
    margin: 0 auto;
    aspect-ratio: 1.155;
    animation: wiggle 1s ease;
    transform-origin: top center;
    background-image: url("https://raw.githubusercontent.com/Senpaku/narayukimi/main/Superchat_Narayukimi/Asset_4.png");
    background-repeat: no-repeat;
}

yt-live-chat-paid-message-renderer::after {
    content: '';
    z-index: 3;
    position: absolute;
    align-self: center;
    top: -10px;
    width: auto;
    left: 50%;
    height: 40px;
    margin: 0 auto;
    aspect-ratio: 1.155;
    animation: wiggle 1s ease;
    transform-origin: top center;
    background-image: url("https://raw.githubusercontent.com/Senpaku/narayukimi/main/Superchat_Narayukimi/Asset_2.png");
    background-repeat: no-repeat;
}

yt-live-chat-paid-message-renderer #purchase-amount,
yt-live-chat-paid-message-renderer #purchase-amount *,
yt-live-chat-legacy-paid-message-renderer #detail-text,
yt-live-chat-legacy-paid-message-renderer #detail-text * {
    font-size: 14px !important;
    font-family: var(--chat-superchat-details-font) !important;
    line-height: 18px !important;
    color: #ffffff !important;
}

yt-live-chat-paid-message-renderer #content {
    display: flex !important;
    flex-direction: column;
}

yt-live-chat-paid-message-renderer #header {
    padding: 16px !important;
}

yt-live-chat-paid-message-renderer {
    margin: 20px 0 !important;
}

yt-live-chat-paid-message-renderer #card {
    background-color: #06718C !important;
    background-image: url("https://raw.githubusercontent.com/Senpaku/narayukimi/main/Superchat_Narayukimi/Asset_1.png");
}

yt-live-chat-legacy-paid-message-renderer {
    margin: 4px 0 !important;
    background-color: #0f9d58 !important;
}

yt-live-chat-text-message-renderer a,
yt-live-chat-legacy-paid-message-renderer a {
    text-decoration: none !important;
}

yt-live-chat-text-message-renderer[is-deleted],
yt-live-chat-legacy-paid-message-renderer[is-deleted] {
    display: none !important;
}

yt-live-chat-ticker-renderer {
    box-shadow: none !important;
    background-color: transparent !important;
}

yt-live-chat-ticker-renderer {
    display: none !important;
}


yt-live-chat-paid-message-renderer[is-v2-style] #single-line.yt-live-chat-paid-message-renderer {
    justify-content: space-between;
}

yt-live-chat-paid-message-renderer #purchase-amount,
yt-live-chat-paid-message-renderer #purchase-amount * {
    font-size: 20px !important;
    font-family: var(--chat-superchat-font) !important;
    line-height: 20px !important;
    color: #ffffff !important;
}

yt-live-chat-mode-change-message-renderer,
yt-live-chat-viewer-engagement-message-renderer,
yt-live-chat-restricted-participation-renderer {
    display: none !important;
}

yt-live-chat-banner-manager {
    display: none !important;
}


yt-live-chat-action-panel-renderer,
yt-live-chat-renderer #action-panel {
    display: none !important;
}

/* Membership */

/* yt-live-chat-membership-item-renderer {
    max-width: 400px;
    padding: 0px 0px !important;
    border-bottom: solid white 6px;
    border-top: solid white 4px !important;
    border-right: solid white 4px !important;
    border-left: solid white 4px !important;
    box-shadow: black 0px 0px 0px 5px;
    border-radius: 28px;
    margin-left: 10px !important;
    margin-top: 15px;
    overflow: hidden;
    margin-bottom: 20px;
} */
/* 
#card.yt-live-chat-membership-item-renderer {
    box-shadow: none !important;
    border-radius: 28px;
}

yt-live-chat-membership-item-renderer yt-live-chat-author-chip #author-name.member {
    font-size: 2rem;
    font-weight: bold;
} */

yt-live-chat-membership-item-renderer yt-live-chat-author-chip #author-name.member,
yt-live-chat-membership-item-renderer #header-primary-text,
yt-live-chat-membership-item-renderer #header-subtext,
yt-live-chat-membership-item-renderer #message {
    /* color: black !important; */
}

#header.yt-live-chat-membership-item-renderer,
#content.yt-live-chat-membership-item-renderer {
    /* background-image: url("https://raw.githubusercontent.com/Senpaku/narayukimi/main/Superchat_Narayukimi/Asset_1%20(1).png") !important; */
    background-size: 519px;
}

#header.yt-live-chat-membership-item-renderer::after{
    content: "";
    background-image: url("https://raw.githubusercontent.com/Senpaku/narayukimi/main/Superchat_Narayukimi/Asset_3%20(1).png");
    width: 331px;
    height: 50px;
    position: absolute;
    top: 3px;
    background-repeat: no-repeat;
    left: 370px;
}

#header.yt-live-chat-membership-item-renderer::before{
    content: "";
    background-image: url("https://raw.githubusercontent.com/Senpaku/narayukimi/main/Superchat_Narayukimi/Asset_3%20(1).png");
    width: 331px;
    height: 50px;
    position: absolute;
    bottom: -38px;
    background-repeat: no-repeat;
    left: 370px;
}

yt-live-chat-membership-item-renderer::after{
    content: "";
    background-image: url('https://raw.githubusercontent.com/Senpaku/narayukimi/main/Superchat_Narayukimi/Asset_2%20(1).png');  
    width: 331px;
    height: 50px;
    position: absolute;
    top: -4px;
    background-repeat: no-repeat;
    left: 398px
}

#header.yt-live-chat-membership-item-renderer{
    background-image: url("https://raw.githubusercontent.com/Senpaku/narayukimi/main/Superchat_Narayukimi/Asset_1%20(1).png"), linear-gradient(90deg, rgba(1,106,56,1) 0%, rgba(23,158,92,1) 100%)  !important;
}

yt-live-chat-membership-item-renderer::before{
    content: "";
    background-image: url('https://raw.githubusercontent.com/Senpaku/narayukimi/main/Superchat_Narayukimi/Asset_2%20(1).png');  
    width: 331px;
    height: 50px;
    position: absolute;
    top: -4px;
    background-repeat: no-repeat;
    left: -25px;
    z-index: 3;
}

@keyframes float {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(-10px, -20px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

/* PENTING  */
ytd-sponsorships-live-chat-gift-purchase-announcement-renderer,
yt-live-chat-paid-sticker-renderer,
yt-live-chat-paid-message-renderer,
yt-live-chat-membership-item-renderer {
    width: calc(100% - 8px 4);
    padding: 8px !important;
    margin-bottom: 20px;
    margin-top: 40px;
    max-width: 440px;
    max-height: 200px;
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }